title: HPS @ *UCSD*{: style="color: green"} ![title_logo](assets/img/sponsor-img/pog.png)
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Site for details about Human Powered Submarine at UCSD!
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  hps-ucsd-2020

homepage: "/Home.html"
git_branch: "master"
wiki_folder: "wiki"

# Build settings
plugins:
  - jekyll-feed
  - jekyll-remote-theme
  - jekyll-optional-front-matter
remote_theme: hps-ucsd-2020/jekyll-theme-santiana@main

# Github required settings
lsi: false
safe: true
incremental: false
highlighter: rouge
gist:
  noscript: false
markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM
  math_engine: mathjax
  syntax_highlighter: rouge

exclude:
  - lightslider/README.md

optional_front_matter:
  remove_originals: true

defaults:
-
  scope:
    path: "wiki"
  values:
    output: true
    layout: "wikipage"
