---
layout: default
title: About HPS
---

<section>
  <div>
    <div class="parallax row align-items-center gx-0" style="background-image: url(/assets/img/2022_Dive_Group_Pic.jpg);">
      {% include parallax.html %}
    </div>
  </div>

  <div>
    {% include content-box.html data = site.data.about.general %}
  </div>
  
  <div style="background-color: rgb(250, 250, 250);">
    {% include text-center-content-box.html data = site.data.about.competition %}
  </div>

  <div>
    {% include image-text-content-box.html data = site.data.about.latest_submarine %}
  </div>

</section>

<!--
<h1 class="fade-in" style="text-align:center">About HPS</h1>
  <div class="about-layout">
    <div class="about-column">
      <img class="fade-in" src="assets/img/team-img/team_3.jpg" alt="Team photo from 2019" />
      {% include content-box.html data=site.data.about.general %}
    </div>


    <div class="about-column">
      {% include content-box.html data=site.data.about.competition %}
      {% include content-box.html data=site.data.about.latest_submarine %}
      <img class="fade-in" src="assets/img/sub-gallery-img/santiana-2019.jpg" alt="Santiana Hull at ISR 2019" />

    </div>
  </div>
<script src="assets/js/anime.min.js"></script>
<script src="assets/js/about.js"></script>
-->