---
layout: default
title: About HPS
---

<div>
  <section>
    <div class="parallax row align-items-center gx-0" style="background-image: url(/assets/img/2022_Dive_Group_Pic.jpg);">
      <div class="col">
        <h1 class="text-center text-white">About Us</h1>
      </div>
    </div>
  </section>

  <section>
    {% include content-section/text-image.html data=site.data.about.general %}
  </section>

  <section style="background-color: #ffffff;">
    {% include content-section/text-center.html data=site.data.about.competition %}
  </section>

  <section>
    {% include content-section/image-text.html data=site.data.about.latest_submarine %}
  </section>
</div>