---
layout: default
title: Donate!
---

<div>
  <section class="mt-5">
    <h1 class="text-center"> Meet Our Sponsors </h1>
    <div class="container bg-primary bg-opacity-75 rounded-4 mb-0 mb-lg-5">
      <div class="mt-4 pt-5">
          {% include flex-list.html data=site.data.sponsors element="elements/sponsor-element.html" %}
      </div>
    </div>
    
  </section>

  <section>
    <div class="container text-center">
      <div class="pt-4 pt-md-3 pt-lg-0">
        {% include modal.html data=site.data.modals.donate id="donatePageModal" %}
      </div>
    </div>
  </section>
</div>