---
layout: default
title: Welcome!
---

<div>
  <section>
    <div style="background-color: #0060ff;">
      {% include slideshow.html slideshow="home" element="slideshow-hero.html" %}
    </div>
  </section>

  <section>
    <div>
      {% include content-section/text-image.html data=site.data.about.short_description %}
    </div>
  </section>

  <section>
    <div class="row align-items-center gx-0" style="background-color: #ffffff;">
      <div class="col-12 col-lg-8">
        {% include youtube-embed.html video_id="FcCIWeJDNQc" description="HPS Fall 2019 Pool Test" %}
      </div>

      <div class="col">
        {% include modal.html data=site.data.modals.interest-form id="homePageInterestFormModal" %}
      </div>
    </div>
  </section>
</div>