---
layout: default
title: Welcome!
---

<!--

<div class="home-layout fade-in">
  <div>
  {% include youtube-embed.html video-id="FcCIWeJDNQc" %}
  </div>

  <div style="flex-shrink: 4; max-width:600px">

    <div>
      {% include content-box.html data=site.data.about.short_description %}
    </div>

    <div class="socials_cont">
      <a href="https://www.facebook.com/hpsucsd" target="_blank">
        <img src="/assets/img/sponsor-img/facebook.svg" alt="Facebook" class="socials_button">
      </a>
      
      <a href="https://www.instagram.com/hps_ucsandiego/" target="_blank">
        <img src="/assets/img/sponsor-img/instagram_logo.svg" alt="Instagram" class="socials_button">
      </a>
    
      <a href="https://www.youtube.com/user/hpsucsd" target="_blank">
        <img src="/assets/img/sponsor-img/youtube_logo.svg" alt="Youtube" class="socials_button">
      </a>

      <a href="mailto:submarine.ucsd@gmail.com" target="_blank">
        <img src="/assets/img/sponsor-img/gmail_logo.svg" alt="Gmail" class="socials_button">
      </a>
    </div>

  </div>

  <div>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScFG9lNNCM3umg6_QKcxOMS6I8VHLZhrMcO0Si0N2iFLRcu9A/viewform?embedded=true" width="720" height="405" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>

  <div>
    <img src="assets/img/sub-gallery-img/calypso-schematic.jpg" width="600px" alt="Calypso Schematic 2021">
  </div>


</div>

<script src="assets/js/anime.min.js"></script>
<script src="assets/js/index.js"></script>
-->