---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <div class="main">
      <div class="main-title">
        <h1>UCSD HPS</h1>
      </div>
      <div class="main-navbar">
        {% for item in site.data.main_nav %}
        <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% else %}class="not-current"{% endif %}>
            {{ item.name }}
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="slideshow">
    	<iframe class="slideshow-iframe" src="/slides/home-slideshow.md"></iframe>
    </div>
  </body>
  <div class="footer">
    <p>Pardon our dust!</p>
    <p>This site is a work in progress!</p>
  </div>
</html>
