---
layout: default
title: Welcome!
bodyclass: "no-margin"
---
{% include slideshow.html slideshow="home" %}
<div class="centered-flexbox fade-in">
  {% include youtube-embed.html video-id="FcCIWeJDNQc" %}
  <h1>A Unique<br>Engineering<br>Challenge</h1>
</div>
<div class="centered-flexbox fade-in">
  <h1 style="text-align: right">Sign Up<br>and Join<br>Today!</h1>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScFG9lNNCM3umg6_QKcxOMS6I8VHLZhrMcO0Si0N2iFLRcu9A/viewform?embedded=true" width="720" height="405" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
<script src="assets/js/anime.min.js"></script>
<script src="assets/js/index.js"></script>
