/* Overriding offcanvas navbar width in header.html includes */
.offcanvas.offcanvas-end {
    width: 65vw;
}

/* Custom breakpoint for navbar logo text to display */
.navbar-brand Span {
    display: none;
}

@media (min-width: 380px) {
    .navbar-brand Span {
        display: inline;
    }
}

/* Default image sizing styles for carousel */
.carousel-inner img {
    width: 100vw;
    height: auto;
    overflow: hidden;
}

/* Applies image sizing styles for carousel on small screens */
@media (max-width: 991.98px) {
    .carousel-inner .carousel-item {
        position: relative;
    }

    .carousel-inner img {
        width: auto;
        height: 100vh;
        overflow: hidden;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}
