---
layout: default
title: Members
---

<div class="text-center">
  <h1>Members</h1>
  <h2>{{ site.data.team-members.umbrella[0].year }}</h2>

  {% for item in site.data.team-members.umbrella[0].all_teams %}  <!--Loops through all_team, each team at a time-->
    <!--Given a single team -->
    <div class="mt-5">
      <h3>{{ item.team }}</h3> <!--Print team name-->
      {% include flex-list.html data=item.members element="elements/member-element.html" %} <!--Paste member name/info-->
    </div>
  {% endfor %}
</div>