---
layout: default
title: Members
---
<h1 class="fade-in" style="text-align:center">Members</h1>
{% for year in site.data.team-members %}
  <h2 class="fade-in" style="text-align:center">{{ year.year }}</h2>
    {% for team in year.teams %}
      <h3 class="fade-in" style="text-align:center">{{ team.team }}</h3>
        {% include flex-list.html data=team.members element="member-element.html" %}
    {% endfor %}
{% endfor %}
<script src="assets/js/anime.min.js"></script>
<script src="assets/js/members.js"></script>
