<div class="teams-include-format">

	<div class="teams-info">
		<p>The Dive subteam coordinates all dive related activities such as pool tests, scuba certification for new members and elaborating safety protocols.
		</p>

		<p>
		The dive team focuses on the pool-related activities such as pool tests and training for the competition. Dive team’s two most important jobs are pilot safety and ballasting the submarine - maintaining a neutral and flat buoyancy is vital for speed and maneuverability.
		</p>

	</div>

	<div class="teams-slideshows">
		{% include slideshow.html slideshow="dive" %}
	</div>

</div>






