<div class="teams-include-format">

	<div class="teams-info">
		<p>
			The Documentation / Media subteam chronicles and organizes the research and processes used by all other subteams for posterity, as well as communicates our journey by creating and managing our own website, wiki and social media.
		</p>

		<p>
			This team essentially manages communication within and without the team, managing the website you are reading right now! (hello!) They help create multimedia tutorials on our team wiki (accessible on the wiki tab), as well as review and edit engineering drawings and design reports, developing skills in programming, web design and technical communication skills.
		</p>
		
	</div>

	<div class="teams-slideshows">
		{% include slideshow.html slideshow="doc" %}
	</div>

</div>





