<div class="teams-include-format">

	<div class="teams-info">
		<p>
			The Drivetrain subteam designs and manufactures the propulsion mechanism of the submarine. They efficiently convert the pilot’s pedaling motion to power a propellor or a non-propellor system (like a fish tail, for instance), developing both computer-aided design and machining skills.
		</p>

		<p>
			This year, they are creating a fish-like tail to propel the submarine. After discussing and reseaching methods for obtaining the desired motion, they model their design on Soliworks. They are working on a variable frequency tail by changing gear ratios, which has never been done before! After modeling our parts, we create the toolpaths and manufacturing documents with the necessary dimensions and tolerancing to bring the parts to life!
		</p>

		<p>
			Once trained, machinists will develop a process that produces a part with the required specifications. Operating CNC machines with in house generated tool paths, working on manual mills and lathes, and 3D printing are just a few methods that machinist at HPS use to manufacture an award winning drivetrain.
		</p>

	</div>

	<div class="teams-slideshows">
		{% include slideshow.html slideshow="drive" %}
	</div>

</div>







