<div class="teams-include-format">

	<div class="teams-info">
		<p>The Electronics subteam creates and programs experimental devices to enhance the submarine, developing projects like electronic steering and buoyancy control.
		</p>

		<p> They use C++ and Arduinos to control servos and other electronic components. The current projects they are working on include an electronic steering system, a CVT motor, a pilot information display, and a variable pitch propellor.
		</p>
		
	</div>

	<div class="teams-slideshows">
		{% include slideshow.html slideshow="elec" %}
	</div>

</div>




