<div class="teams-include-format">

	<div class="teams-info">
		<p>The HSI subteam is responsible for the pilot’s interaction with the submarine through controls and steering mechanisms.</p>

		<p>The most important part of the HSI subteam is the dead man buoy. When the sub is in the water, it is flooded, meaning any issues with the pilot can be potentially dangerous. The dead man buoy works on a switch which must be constantly held, and if it is released this will notify the divers that something is wrong. </p>

		<p> The hatches on the submarine provide access to both the cabin and the various mechanical parts of the sub. These include the maintenance hatch for drivetrain access near the rear, the pilot access hatch, and the lower draining hatch. Additionally, there are release mechanisms for these hatches, namely an internal release mechanism on the top hatch for the diver to be able to open and close their exit.</p>

	</div>

	<div class="teams-slideshows">
		{% include slideshow.html slideshow="hsi" %}
	</div>

</div>