<div class="teams-include-format">

	<div class="teams-info">
		<p>
			The Hull subteam designs, simulates and manufactures the outer shell of the submarine, balancing hydrodynamics, speed, and maneuverability. They make use of computer-aided modeling software as well as get their hands dirty when laying up, curing, and sanding the hull.
		</p>

		<p>
			After chosing airfoils and modeling a few different submarine hulls in Solidworks, this team then simulates it in a finite element anaylsis (FEA) software to determing the optimal, hydrodynamic shape. Then it's onto manfucaturing the plug, a mold, and finally the actual hull out of composites like fiberglass or carbon fiber!
		</p>

		<p> 
			Check out <a href="https://www.youtube.com/watch?v=pi431FmxXRU"> this video</a> about how we made our Vaquita submarine in 2018! 
		</p>
	</div>


	<div class="teams-slideshows">
		{% include slideshow.html slideshow="hull" %}
	</div>

</div>
