<div class="teams-include-format">

	<div class="teams-info">
		<p>The Hull subteam designs, simulates and manufactures the outer shell of the submarine, balancing hydrodynamics, speed, and maneuverability. They make use of computer-aided modeling software as well as get their hands dirty when laying up, curing, and sanding the hull.</p>

		<p> Check out <a href="https://www.youtube.com/watch?v=pi431FmxXRU"> this video</a> about how we make our hulls! </p>
	</div>


	<div class="teams-slideshows">
		{% include slideshow.html slideshow="hull" %}
	</div>

</div>
