<!-- 
Usage:

li include flex-list.html data=my_data element="element-include.html" il

my_data: data for the elements in the list; format should be compatible with the element include
element: html for each individual element (should be in the _includes folder). Should be compatible
                  with the data being passed in. Within the include, access the data via the 'item' var 
                  defined here.
-->
<div class="row justify-content-center gx-0 mx-5">
  {% for item in include.data %}
    {% include {{ include.element }} %}
  {% endfor %}
</div>