<!-- Spacer in document flow for navbar -->
<div class="bg-primary" style="padding-top: 60px"></div>

<!--  Navbar -->
<nav class="navbar navbar-dark fixed-top navbar-expand-md bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/Home.html">
      <img class="mx-2" src="/assets/img/sponsor-img/{{ site.logo }}" alt="HPS logo" width="72" height="32">
      <Span>{{ site.data.footer.logo }}</Span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end bg-primary" id="navbarToggle">
      <div class="offcanvas-header justify-content-end">
        <button type="button" class="btn-close pe-4" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <ul class="navbar-nav justify-content-end pe-lg-4">
        {% for item in site.data.nav_pages %}
          {% if page.url contains {{item}} %}
            <li class="nav-item ps-2 ps-lg-4">
              <a class="nav-link active ms-4 ms-md-0 p-3 p-md-2" aria-current="page" href="/{{ item }}.html"> {{ item }} </a>
            </li>
          {% else %}
            <li class="nav-item ps-2 ps-lg-4">
              <a class="nav-link ms-4 ms-md-0 p-3 p-md-2" href="/{{ item }}.html"> {{ item }} </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      <div class="d-block d-md-none" style="position:relative; height: 100%;">
        <div class="mb-3" style="position: absolute; bottom: 0; left: 0; right: 0; margin-left: auto; margin-right: auto;">

          <div class="mb-3">
            {% include modal.html data=site.data.modals.interest-form id="mobileNavInterestFormModal" %}
          </div>

          <div class="text-center">
            {% for item in site.data.footer.socials %}
              <a class="col text-decoration-none" href="{{item.link}}" target="_blank">
                <i class="bi bi-{{item.icon}} mx-2 mx-sm-3 fs-2 text-dark text-opacity-75"></i>
              </a>
            {% endfor %}
          </div>

        </div>
      </div>

    </div>

  </div>
</nav>


<!-- Autohide and show navbar on scroll -->
<script>
  document.addEventListener("DOMContentLoaded", function(){

  autohide_nav = document.querySelector('nav');

  if(autohide_nav){
    var last_scroll_top = 0;
    window.addEventListener('scroll', function() {
        let scroll_top = window.scrollY;
        if(scroll_top < last_scroll_top) {
          autohide_nav.classList.remove('scrolled-down');
          autohide_nav.classList.add('scrolled-up');
        }
        else if (scroll_top > 60 && scroll_top >= last_scroll_top) {
            autohide_nav.classList.remove('scrolled-up');
            autohide_nav.classList.add('scrolled-down');
        }
        last_scroll_top = scroll_top;
    });
  }
  });
</script>

<style>
  .scrolled-down{
    transform:translateY(-100%);
    transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
    transition: all 0.3s ease-in-out;
  }
</style>