<div id="{{include.slideshow}}" class="carousel slide" data-bs-ride="carousel">
  
  <div class="carousel-indicators">
    {% for item in site.data.slideshows[include.slideshow] %}
      {% if forloop.first %}
        <button class="active" type="button" data-bs-target="#{{include.slideshow}}" data-bs-slide-to="{{forloop.index0}}" aria-current="true" aria-label="Slide {{forloop.index}}"></button>
      {% else if %}
        <button type="button" data-bs-target="#{{include.slideshow}}" data-bs-slide-to="{{forloop.index0}}" aria-label="Slide {{forloop.index}}"></button>
      {% endif %}
    {% endfor %}
  </div>

  <div>
    {% include {{include.element}} slideshow=include.slideshow %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#{{include.slideshow}}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Prev</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#{{include.slideshow}}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>