<div class="team-tab-container">
{% for item in site.data.teams %}
	<button class="team-tab-button" onclick="openCity('{{item.name}}')">
		<img src='assets/img/sponsor-img/{{item.image}}' width='50px'>
		<h2>{{- item.name -}}</h2>
	</button>
{% endfor %}
</div>


{% for item in site.data.teams %}
	<div id='{{item.name}}' class="team-tab-container team" style="display:none">
		{%- include teams-page-includes/{{item.contents}} -%}
	</div>	
{% endfor %}

<script>
function openCity(cityName) {
	var i;
	var x = document.getElementsByClassName("team");
	for (i = 0; i < x.length; i++) {
		x[i].style.display = "none";  
	}
	document.getElementById(cityName).style.display = "block";  
}
</script>