// Colors
$color-fg: #dddddd;
$color-fg-l: lighten($color-fg, 10%);
$color-fg-d: darken($color-fg, 10%);
$color-bg: #003f88;
$color-bg-l: lighten($color-bg, 10%);
$color-bg-d: darken($color-bg, 10%); 
$color-ac: #fdc500;
$color-ac-l: lighten($color-ac, 10%);
$color-ac-d: darken($color-ac, 10%);


