// Colors
$palebud: #E0FFB2;
$seaserpent: #57C9D1;
$spanishgray: #979797;
$spanishgray-dark: #A8A8A8;
$deeplemon: #FCBA17;
$imperialblue: #003F77;
$imperialblue-light: #104F87; // Mixins
@mixin headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

html {
  background-color: $imperialblue-light;
  font-family: Arial;
}

.no-margin {
  margin: 0;
}

.main {
  background-color: $imperialblue;
  color: $spanishgray;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  min-height: 75px;
  border-bottom: 5px solid $deeplemon;

  h1 {
    color: $deeplemon;
  }
}

.main-title {
  margin-left: 10px;
}

.main-navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;

  %a-main {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
  }

  a.current {
    @extend %a-main;

    &:link,
    &:visited {
      color: $palebud;
    }

    &:hover {
      color: $palebud;
    }
  }

  a.not-current {
    @extend %a-main;

    &:link,
    &:visited {
      color: $spanishgray;
    }

    &:hover {
      color: $palebud;
    }
  }
}

footer {
  background-color: $imperialblue;
  color: $spanishgray;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  min-height: 75px;
  width: 100%;
  border-top: 5px solid $deeplemon;
  margin-top: 20px;
}

.slideshow {
  img {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
  }
  margin-bottom: 20px;
}
team
.centered-flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

  h1 {
    font-size: 100px;
    word-break: break-word;
    color: $deeplemon;
    margin: 20px;
  }
}

.markdown-quickstyle {
  margin: 10px;
  color: $spanishgray-dark;

  @include headings {
    color: $deeplemon;
  }

  a{
    text-decoration: none;
    &:link, &:visited {
      color: $deeplemon;
    }

    &:hover {
      color: $palebud;
    }
  }
}

.image-board {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;

  .element {
    margin: 5px;

    img {
      width: 250px;
      height: 250px;
    }
  }
}

.circle-bkg {
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
}

.teams-boxes {
  @extend .markdown-quickstyle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;

  .team-box {
    // Timings are different as same timings do not give perfect sync
    transition: max-height 0.5s ease-in 0s, width 0.3s 0.2s;
    max-height: 4em;
    height: auto;
    overflow: hidden;
    margin: 1%;
    width: 80%;

    .teams-title {
      transition: background-color 0.3s 0.2s;
      background-color: $imperialblue;
      padding: 1px 15px;
      // Making the title box display flex boxes
      display: flex;
      flex-flow: rows;
      align-items: baseline;
      justify-content: space-between;
      //width: 100%;
      //padding: 1px 15px;
      align-items: center;

      h2 {
        transition: color 0.3s 0.2s;
        color: $deeplemon;
      }
      /* Arrows */
      .arrow-box {
        min-width: 10px;
        padding: 10px;
      }

      .arrow {
        transition: border-color 0.3s 0.2s, transform 0.3s 0.2s, -webkit-transform 0.3s 0.2s;
        border-style: solid;
        border-color: $deeplemon;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 5px;
        align: right;
        //vertical-align: baseline;
        margin-top: auto;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }

    .teams-include-format {
      background-color: $imperialblue;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      .teams-slideshows {
        flex: 1;
        margin: 20px 20px 0 0;

        img {
          width: 100%;
          min-height: 250px;
          max-height: 600px;
          object-fit: cover;
          vertical-align: middle;
        }
      }

      .teams-info {
        flex: 1;
        font-size: 20px;
        padding: 15px;
        background-color: $spanishgray-dark;
        border-radius: 12px;
        margin: 20px;

        p {
          color: $imperialblue;
        }
      }
    }
  }

  .team-box.expanded {
    transition: max-height 0.7s ease-out 0s, width 0.3s 0s;
    width: 96%;
    // Not optimal solution as max height changes and not height. Increase if needed
    max-height: 850px;

    .teams-title {
      background-color: $deeplemon;
      transition: background-color 0.3s 0s;

      h2 {
        color: $imperialblue;
        transition: background-color 0.3s 0s;
      }

      .arrow {
        border-color: $imperialblue;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: border-color 0.3s 0s, transform 0.3s 0s, -webkit-transform 0.3s 0s;
      }
    }
  }

  .active-window {
    background-color: $imperialblue;
  }
}

.about-layout {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.about-column {
  flex: 1 1 50%;
  padding-right: 5px;
  padding-left: 5px;

  img {
    width: 100%;
  }
}

.about-rounded-box {
  background-color: $imperialblue;
  border-radius: 12px;
  margin-bottom: 10px;
}

.box-body {
  padding: 0 10px 3px;
}

.box-title {
  background-color: $deeplemon;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.box-title h2 {
  color: $imperialblue-light;
  padding: 5px;
  margin: 5px;

#donate-container {
  display: flex;
  flex-direction: column;
  align-items: center;


}

#donate-button {
  color: $imperialblue;
  font-size: 25px;
  font-weight: bold;
  background-color: $deeplemon;
  text-align: center;
  padding: 32px 32px;
  border-radius: 25px;
  display: inline-block;
  text-decoration: none;
  margin: auto;

}

#copy-button {
  color: $deeplemon;
  background-color: $imperialblue;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border-color: $deeplemon;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: $seaserpent;
  color: $imperialblue;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $seaserpent transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

// Below are git-wiki things ---------------

.git-wiki-page{
  @extend .markdown-quickstyle;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 15px;
  

  .tools-element{
    border-left: 3px solid $deeplemon;
    padding-left: 5px;
    margin: 5px;
  }
}

.git-wiki-copyrights {
  @extend .markdown-quickstyle;
  flex-grow: 10; // force to the left (janky solution)
  text-align: left;
}
