body{
  @include headings {
    color: $color-ac;
  }
}

.markdown-quickstyle {
  margin: 10px;
  color: $color-fg-d;

  @include headings {
    color: $color-ac;
  }

  a{
    text-decoration: none;
    &:link, &:visited {
      color: $color-ac;
    }

    &:hover {
      color: $color-ac-l;
    }
  }
}


//title
.title_text{
 display: inline;
 vertical-align: middle;
}

//title logo
.title_logo{
  display: inline;
  width: 150px;
  padding: 5px 0px;
}

// team
.centered-flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

  h1 {
    font-size: 100px;
    word-break: break-word;
    color: $color-ac;
    margin: 20px;
  }
}

.slideshow {
  img {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
  }
  margin-bottom: 20px;
}

.mem-name {
  margin: 2.5em 0em 0em 0em;
}

.mem-position {
  margin: 0.75em 0em 0.25em 0em;
}


.circle-bkg {
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
}

.teams-boxes {
  @extend .markdown-quickstyle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;

  .team-box {
    // Timings are different as same timings do not give perfect sync
    transition: max-height 0.5s ease-in 0s, width 0.3s 0.2s;
    max-height: 4em;
    height: auto;
    overflow: hidden;
    margin: 1%;
    width: 80%;

    .teams-title {
      transition: background-color 0.3s 0.2s;
      background-color: $color-bg-d;
      padding: 1px 15px;
      // Making the title box display flex boxes
      display: flex;
      flex-flow: rows;
      align-items: baseline;
      justify-content: space-between;
      //width: 100%;
      //padding: 1px 15px;
      align-items: center;

      h2 {
        transition: color 0.3s 0.2s;
        color: $color-ac;
      }
      /* Arrows */
      .arrow-box {
        min-width: 10px;
        padding: 10px;
      }

      .arrow {
        transition: border-color 0.3s 0.2s, transform 0.3s 0.2s, -webkit-transform 0.3s 0.2s;
        border-style: solid;
        border-color: $color-ac;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 5px;
        align: right;
        //vertical-align: baseline;
        margin-top: auto;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }

    .teams-include-format {
      background-color: $color-bg-d;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      .teams-slideshows {
        flex: 1;
        margin: 20px 20px 0 0;

        img {
          width: 100%;
          min-height: 250px;
          max-height: 600px;
          object-fit: cover;
          vertical-align: middle;
        }
      }

      .teams-info {
        flex: 1;
        font-size: 20px;
        padding: 15px;
        background-color: $color-fg-d;
        border-radius: 12px;
        margin: 20px;

        p {
          color: $color-bg;
        }
      }
    }
  }

  .team-box.expanded {
    transition: max-height 0.7s ease-out 0s, width 0.3s 0s;
    width: 96%;
    // Not optimal solution as max height changes and not height. Increase if needed
    max-height: 850px;

    .teams-title {
      background-color: $color-ac;
      transition: background-color 0.3s 0s;

      h2 {
        color: $color-bg;
        transition: background-color 0.3s 0s;
      }

      .arrow {
        border-color: $color-bg;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: border-color 0.3s 0s, transform 0.3s 0s, -webkit-transform 0.3s 0s;
      }
    }
  }

  .active-window {
    background-color: $color-bg;
  }
}

.team-tab-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.team-tab-button {
  background: #002755;
  width: max-content;
}


#donate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#donate-button {
  color: $color-bg;
  font-size: 25px;
  font-weight: bold;
  background-color: $color-ac;
  text-align: center;
  padding: 32px 32px;
  border-radius: 25px;
  display: inline-block;
  text-decoration: none;
  margin: auto;
}

#copy-button {
  color: $color-ac;
  background-color: $color-bg-d;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border-color: $color-ac;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: $color-bg-l;
  color: $color-bg;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $color-bg-l transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.member-element{
  height: 300px;
  width: 250px;
  margin: 10px;
  background: $color-bg-d;
}

.sponsor-element{
  margin: 5px;
  img {
    background: white;
    height: 250px;
    width: 250px;
  }
}

.about-layout{
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
}

.about-column{
  flex: 1 1 50%;
  padding-right: 5px;
  padding-left: 5px;

  img {
    width: 100%;
  }
}

.home-layout{
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

}

.socials_cont{
  display:flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.socials_button{
  margin:10px;
  width:75px;
}